input {
    display:block;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {    
    font-family: 'Titan One', sans-serif;
}

h2, a {
    text-transform: uppercase;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.45rem;
}

p, a {
    font-size: 16px;
}

p {
    letter-spacing: 0.045rem;
    line-height: 1.35rem;
}

.bg-orange {
    background-color: #FE953D;
}

.bg-pink {
    background-color: #EEC1DC;
}

.bg-yellow {
    background-color: #FEC001;
}